* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, sans-serif;
  }

  #Header {
    background-color:green;
    width: 100%;
    height: 100px;
  }

  #Logo {
    display: block;
    margin-right: auto;
    padding: 5px;
  }